<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instruction_template.name %>
</p>


<%= link_to 'Edit', edit_instruction_template_path(@instruction_template) %> |
<%= link_to 'Back', instruction_templates_path %>
